<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Over</title>
    <link rel="stylesheet" href="../static/GameOver.css">
</head>
<body>
    <div class="container">
        <h1>Game Over</h1>
        <p id="score"></p>
        <button onclick="restartGame()">Recommencer</button> 
    </div>
    <img src="../img/mort2.gif" alt="Game Over GIF" id="gameOverGif">
    <script src="../js/LooseScript.js"></script>
</body>
</html>
