<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoire</title>
    <link rel="stylesheet" href="../static/Win.css">
</head>
<body>
    <div class="container">
        <h1>Victoire !</h1>
        <img src="../img/vic.gif" alt="Victory GIF" id="victoryGif">
        <p id="score"></p>
        <button onclick="restartGame()">Recommencer</button>
    </div>
    <img src="../img/snake win.gif" alt="Victory GIF" id="victoryGif">
    <script src="../js/ScriptWin.js"></script>
</body>
</html>
